@import '../../../styles/mixins';
.section {
    background-color: #0a192f;
    height: 100vh;
    width: 100%;
}
.container {
    max-width: 1000px;
    // height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
 
}