@import '../../../styles/mixins';
.section {
    background-color: #0a192f;
    width: 100%;
    color: white;
    padding-top: 50px;
}
.container {
    max-width: 1350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    color: #cac7c7;
    background: rgba(214, 214, 214, 0.3960784314);
    border-radius: 50px 50px 100px 100px;
}

.texth1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    line-height: 110%;
    color: #242424;
    font-size: 26px;
    text-align: center;
}

.box{ 
    margin-top: 20px;
}
.boxbutton {
    padding: 10px;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
    display: flex;
}
.button {
    padding: 10px 15px;
    margin: 5px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #242424;
}


.scrollContainer {
    overflow-x: scroll;
    white-space: nowrap; /* Забезпечуємо, щоб кнопки не переносились на новий рядок */
    width: 100%; /* Задайте бажану ширину видимої області */
    background-color: black;
    border-radius: 15px 15px 0 0;
}
.scrollContainer::-webkit-scrollbar {
    width: 10px; /* Ширина полоси прокрутки */
    height: 10px;
}

/* Стилі для ковзка (відображається на полосі прокрутки) */
.scrollContainer::-webkit-scrollbar-thumb {
    // background-color: #006fd7; /* Колір ковзка */
    border-radius: 5px; /* Закруглені кути ковзка */
    background: white;
}

/* Стилі для полоси прокрутки при наведенні миші */
.scrollContainer::-webkit-scrollbar-thumb:hover {
    background-color: #d5d5d5; /* Колір ковзка при наведенні миші */
}

.boxtext {
    text-align: center;
    padding: 30px 15px;
    background-color: rgba(148, 148, 148, 0.503);
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.half {
    flex: 1;
}
 
.texth2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

.textp {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    width: 100%;
}

.list {
    max-width: 350px;
    margin: 10px auto auto;

}

.item {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    text-align: left;
    width: max-content;
    max-width: 100%;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    width: 200px;
  }
  
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
