@import '../../../styles/mixins';

.section {
    height: 100vh;
    background-image: url('../../img/radek-kilijanek-mypyXJ-K-BU-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}