@import '../../../styles/mixins';
// .section {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     // height: 100vh;
//     background-image: url('../../img/radek-kilijanek-mypyXJ-K-BU-unsplash.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 1;
// }
.section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bgtest.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.container {
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 32px;
    margin: 0 auto;
    color: #ccd6f6;
}
.name {
    color: rgb(52 211 153);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.who{
    color: rgb(4 120 87);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.text {
    padding: 16px 0;
    max-width: 700px;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
}
.boxbtn {
  display: flex;
  align-items: center;
  background: #242424;
  position: relative;
  max-width: 370px;
  justify-content: space-between;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    transition: box-shadow 0.25s;
    color: white;
}

.textbtn {
  margin-left: 20px;
  padding-right: 15px;
  
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
