@import '../../../styles/mixins';
.section {
    background-color: #0a192f;
    width: 100%;
}
.container {
    max-width: 1000px;
    // height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    color: #cac7c7;
    background: #61616165;
    border-radius: 0 0 50px 50px;
}
.why {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    line-height: 110%;
}
.box {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    padding: 40px 0;
    gap: 14px;
    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
}
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 15px;
}
.icon {
    background: #eedbdb;
    border-radius: 10px 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4568dc;
}
.text {
    margin: 25px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #242424;
    width: 100%;
}
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }