@import '../../../styles/mixins';
.section {
    background-color: #0a192f;
    width: 100%;
    color: white;
    padding-top: 50px;
}
.container {
    max-width: 1350px;
    padding: 30px;
    margin: auto;
    color: #69ddcc;
    background: rgba(214, 214, 214, 0.3960784314);
    border-radius: 50px 50px 0 0;
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

.title {
    color: rgb(52, 211, 153);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    cursor: pointer;
}
.boxForm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 16px 0;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: auto 0;
    text-align: left;
}
.input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
}
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    width: 200px;
    margin-top: 15px;
  }
  
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
