@import '../../../styles/mixins';
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	transition-duration: 300ms;
}
.container {
	max-width: 1350px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	margin: auto;
}
.list {
	display: none;
	color: white;
	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
}
.item {
	padding: 16px;
}
.icon {
	display: block;
    z-index: 10;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.mobmenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: grey;
    text-align: center;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	transition-duration: 300ms;
}
.qq{
    cursor: pointer;
    :hover, :focus {
        color:white;
    }
}
.mobItem{
    padding: 16px;
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}
// @media screen and (min-width: $desktop) {

// }
// @media screen and (min-width: $tablet) {
   
// }