@import '../../../styles/mixins';
.section {
	background-color: #0a192f;
	width: 100%;
	color: white;
}
.container {
	max-width: 1350px;
	padding: 30px;
	margin: auto;
	color: #69ddcc;
	background: rgba(214, 214, 214, 0.3960784314);
	border-radius: 50px 50px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	margin: 20px 0;
	gap: 10px;
	:hover {
		background-color: white;
		color: rgb(89, 89, 89);
	}
	a {
		margin: 0 5px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #fff;
		transition: 0.3s;
		border-radius: 50%;
		color: white;
	}
    @media screen and (min-width: $tablet) {
        gap: 20px;
    }
}
